# Ignore Git and CI/CD files
.git
.github
.gitignore

# Environment files
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Local/dev-only directories
config/
notebook/
logs/
mlruns/
catboost_info/
tests/
src/
main.py
LISENCE
template.py

# Ignore all artifacts except the required ones
artifacts/*
!artifacts/model_evaluation/model_v1.1.joblib
!artifacts/data_transformation/data_trans_obj_v1.1.joblib
